body
{
    background-color: #000;
}
*
{
    margin: 0;
    border: 0;
    padding: 0;
}
::-webkit-scrollbar
{
  width: 5px;
  background-color: #000;
}
::-webkit-scrollbar-thumb
{
  border-radius: 2em;
  background-color: #333;
}

.hero-page
{
    height: 100vh;
    width: 100%;
    background-image: url('tribute-img.jpg');
    text-align: center;
    background-size: cover;
}
.hero-tittle 
{
    vertical-align: center;
    margin-top: 40vh;
}
.hero-tittle h2
{
    font-weight: 700;
    font-size: 9rem;
    color: #fff;
    text-transform: uppercase;
}
.hero-tittle h4
{
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
}

.quote-page
{
    height: 100vh;
    width: 100%;
    background-image: url('hero-img.jpg');
    text-align: center;
}
.quote-cont
{
    vertical-align: center;
    margin-top: 30vh;
}
.quote-cont p
{
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}
.quote-cont i
{
    font-size: 3.5rem;
    color: #fff;
    padding: 10px 30px;
}

.bio-page
{
    height: 100vh;
    width: 100%;
    background-image: url('bio.jpg');
    background-size: cover;
}
.bio-cont
{
    margin-top: 10vh;
}
.bio-cont h3
{
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}
.bio-cont span
{
    padding-left: 60px;
}
.bio-cont p
{
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    text-align: justify;
}